* {
  padding: 0;
  margin: 0;
}

#questionsSection {
  height: 50vh;
  border: 1px solid blue;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  display: none;
}

#submitAnswer {
  display: none;
}

