* {
  padding: 0;
  margin: 0;
}
.questions {
  height: 50vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cat {
  display: block;
}

#rupert {
  display: none;
}
