* {
  padding: 0;
  margin: 0;
}
#introduction {

}

#questionsSection {
  height: 50vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

article {
  display: none;

}

#validate {
  height: 25px;
  width: fit-content;
  border: 1px solid black;
} 
#gameOver, #highScores {
  display: none;
  border: 1px solid black;
  height: fit-content;
  text-align: center;
  position: relative;
  top: 10vh;
}

#highScores{
  display: none;
}